---
import { Picture } from "astro:assets";
import Articles from "@/components/Articles.astro";
import Base from "@/layouts/Base.astro";
import { getArticles } from "@/lib/article.js";
import dayjs from "dayjs";
import kvImage from "../assets/key-visual.webp";
import ConversionButton from "../components/ConversionButton.astro";

const articles = getArticles();

const newestArticle = getArticles({ isPublished: true }).at(-1);
---

<Base title="Vim 駅伝" slug="/">
  {/* head tag 内に記述する要素は slot="head" を指定する */}
  <link
    slot="head"
    rel="alternate"
    type="application/rss+xml"
    title="RSS2.0"
    href={`${import.meta.env.BASE_URL}rss.xml`}
  />

  <div class="relative">
    <Picture src={kvImage} formats={["avif", "webp"]} alt="Vim-JP" />
    <div
      class="[text-shadow:_0_4px_6px_rgb(253_251_247_/_60%)] absolute inset-0 content-center p-l-3rem text-5xl text-ekiden-green-500 font-bold font-ekiden-heading"
    >
      Vimで<br />技術を繋ぐ
    </div>
  </div>
  <div
    class="flex flex-row items-center gap-x-4 bg-ekiden-green-500 p-4 text-ekiden-white-500 font-bold"
  >
    <ConversionButton href="#first-slot" />
    <div>
      <div>あなたもVimやテクノロジーに関する記事を書いて、リレーを繋ごう！</div>
      <div class="underline font-normal">
        <a
          href="https://github.com/vim-jp/ekiden/issues?q=is%3Aissue%20state%3Aopen%20author%3A%40me%20label%3Aarticle"
        >
          参加登録済みの方はここから自分の予約を確認できます
        </a>
      </div>
    </div>
  </div>
  <section
    class="news mt-3 border border-ekiden-black-500 rounded p-3 text-ekiden-black-500"
  >
    {
      newestArticle && (
        <p>
          <b>News</b>: {dayjs(newestArticle.date).format("M/D")}
          の記事
          <a
            class="text-ekiden-green-500 font-bold underline"
            href={`#article-${newestArticle.date}`}
          >
            {newestArticle.title}
          </a>
          が公開されました！
        </p>
      )
    }
  </section>
  <Articles articles={articles} />
</Base>

<style>
  :global(html) {
    scroll-behavior: smooth;
  }
</style>
