---
import dayjs from "dayjs";
import ArticleMonth from "./ArticleMonth.astro";

export type ArticleProps = {
  date: string;
  firstDay: boolean;

  title: string;
  runner: string;
  url: string | null;
};

type Props = ArticleProps;

const { firstDay, title, date, runner, url } = Astro.props;
---

<div class="container" id={`article-${date}`}>
  {firstDay && <ArticleMonth month={dayjs(date).month() + 1} />}
  <a
    href={url}
    class="article flex flex-row items-center gap-2 bg-[--bg-color] pl-16 pr-0 text-[--fg-black]"
  >
    <div class="flex flex-row items-center self-stretch bg-[--fg-color] py-4">
      <div class="h-6 w-6 rounded-3xl bg-[--bg-color]"></div>
    </div>
    <div class="min-w-10 w-10 text-right text-[--fg-color] font-bold">
      {dayjs(date).date()}日
    </div>
    <div class="metadata">
      <div class="pt-1">{title}</div>
      <div class="pb-1 pl-3 text-sm">by {runner}</div>
    </div>
  </a>
</div>

<style>
  .article {
    --bg-color: theme("colors.ekiden.white.500");
    --fg-color: theme("colors.ekiden.green.500");
    --fg-black: theme("colors.ekiden.black.500");
  }

  .article:hover {
    --bg-color: theme("colors.ekiden.green.500");
    --fg-color: theme("colors.ekiden.white.500");
    --fg-black: theme("colors.ekiden.white.500");
  }
</style>
