---
import dayjs from "dayjs";
import ArticleMonth from "./ArticleMonth.astro";

export type ArticleProps = {
  date: string;
  firstDay: boolean;

  title: string;
  runner: string;
  url: string | null;
};

type Props = ArticleProps;

const { firstDay, title, date, runner, url } = Astro.props;
---

<div class="container" id={`article-${date}`}>
  {firstDay && <ArticleMonth month={dayjs(date).month() + 1} />}
  <a href={url} class="article">
    <div class="line">
      <div class="marker"></div>
    </div>
    <div class="date">
      {dayjs(date).date()}日
    </div>
    <div class="metadata">
      <div class="title">{title}</div>
      <div class="pb-1 pl-3 text-sm">by {runner}</div>
    </div>
  </a>
</div>

<style>
  .article {
    @apply flex flex-row items-center gap-2 pr-0 pl-16;
    --bg-color: theme("colors.ekiden.white.500");
    --fg-color: theme("colors.ekiden.green.500");
    --fg-black: theme("colors.ekiden.black.500");
    background: var(--bg-color);
    color: var(--fg-black);
  }

  .article:hover {
    --bg-color: theme("colors.ekiden.green.500");
    --fg-color: theme("colors.ekiden.white.500");
    --fg-black: theme("colors.ekiden.white.500");
  }

  .line {
    @apply py-4 self-stretch flex flex-row items-center;
    background: var(--fg-color);
  }
  .marker {
    @apply h-6 w-6 rounded-3xl;
    background: var(--bg-color);
  }
  .date {
    @apply min-w-10 w-10 text-right font-bold;
    color: var(--fg-color);
  }
  .title {
    @apply pt-1;
  }
</style>
