---
import dayjs from "dayjs";

export type ArticleProps = {
  title: string;
  date: string;
  author: string;
  url?: string;
};

type Props = ArticleProps;

const { title, date, author, url } = Astro.props;

const today = dayjs();
const published = today >= dayjs(date);
---

<div
  class="mb-4 w-full p-2 rounded-lg bg-white grid grid-cols-1 sm:grid-cols-3 md:grid-cols-4"
>
  <p class="text-gray-700 text-base mb-1 break-words truncate">
    {date}
  </p>
  <p class="text-gray-700 text-base mb-1 break-words truncate">
    {
      (
        <a
          href={`https://github.com/${author}`}
          class="text-blue-600 visited:text-purple-600 underline"
        >
          {`@${author}`}
        </a>
      )
    }
  </p>
  <p
    class="leading-tight font-medium mb-1 truncate sm:col-span-3 md:col-span-2"
  >
    {
      published ? (
        <a href={url} class="text-blue-600 visited:text-purple-600 underline">
          {title}
        </a>
      ) : (
        <>{title}</>
      )
    }
  </p>
</div>
