---
import type { ProcessedArticle } from "@/lib/article.js";
import type { SetOptional } from "type-fest";
import RunnerImage from "/public/1f3c3.svg";

type Props = SetOptional<ProcessedArticle, "runner">;

const { title, url, originalIndex, runner, runnerPath, published, shortDate } =
  Astro.props;
---

<div class="mb-4 pb-2 [&+div]:border-t">
  <div
    class={published ? "w-full hover:bg-[#efefef] hover:shadow-md" : "w-full"}
  >
    <a href={published ? url : undefined}>
      <div class="p-2">
        <div class="flex items-center">
          <div
            class={published
              ? "rounded-full flex-shrink-0 w-16 h-16 flex items-center justify-center mr-4 bg-ekiden-green-500 text-white"
              : "rounded-full flex-shrink-0 w-16 h-16 flex items-center justify-center mr-4 text-ekiden-green-500 border border-ekiden-green-500"}
          >
            <div class="text-center font-ekiden-heading">
              {
                originalIndex !== undefined && (
                  <div class="text-lg font-bold">{originalIndex + 1}</div>
                )
              }
              <div class="font-ekiden-heading text-sm">{shortDate}</div>
            </div>
          </div>
          <div class={published ? "text-ekiden-black" : "text-ekiden-gray-500"}>
            <h3 class="text-md mb-1 font-bold md:text-lg">
              {title}
            </h3>
          </div>
        </div>
      </div>
    </a>
  </div>
  {
    runner !== undefined && runnerPath !== undefined && (
      <div class="w-full text-right">
        <a href={runnerPath} class="md:text-md inline-block text-sm">
          <img src={RunnerImage.src} class="inline w-6" />
          &nbsp;<span class="underline">{runner}</span>
        </a>
      </div>
    )
  }
</div>
