---
import { Picture } from "astro:assets";
import logoImage from "../assets/vim-jp-icon.png";
import ConversionButton from "./ConversionButton.astro";
import PageLink from "./PageLink.astro";

type Props = { slug: string };

const { slug } = Astro.props;
---

<div
  class="w-full content-center border-b-4 border-ekiden-green-500 text-ekiden-green-500"
>
  <div
    class="mx-auto max-w-screen-lg flex flex-row flex-wrap items-center gap-3 px-3 py-2"
  >
    <h1 class="text-center text-nowrap text-4xl font-bold font-ekiden-heading">
      <a class="flex flex-row items-center gap-2" href="/ekiden/">
        <Picture
          src={logoImage}
          formats={["avif", "webp"]}
          alt="Vim-JP"
          class="size-16"
        />
        Vim駅伝
      </a>
    </h1>
    <nav
      class="flex grow-x flex-row flex-wrap gap-4 py-4 text-center text-nowrap font-bold"
    >
      <PageLink slug={slug} href="/">トップページ</PageLink>
      <PageLink slug={slug} href="/about/">アバウト</PageLink>
      <PageLink slug={slug} href="/archives/">アーカイブ</PageLink>
      <PageLink slug={slug} href="/ranking/">ランキング</PageLink>
      <PageLink slug={slug} href="/statistics/">統計</PageLink>
    </nav>
    <div>
      <ConversionButton href="/ekiden/#first-slot" />
    </div>
  </div>
</div>
