---
import dayjs from "dayjs";
import SeasonList, {
  dateToSection,
  displaySectionName,
  getSectionArray,
  sectionToSlug,
  type Section,
} from "@/components/SeasonList.astro";
import { getArticles } from "@/lib/article";
import Base from "@/layouts/Base.astro";
import RankChart from "@/components/RankChart.svelte";

export function getStaticPaths() {
  return getSectionArray(false).map((section) => ({
    params: {
      section: sectionToSlug(section),
    },
    props: {
      section,
    },
  }));
}

type Props = {
  section: Section;
};
const { section } = Astro.props;

const articles = getArticles({ isPublished: true }).filter((article) => {
  const articleSection = dateToSection(dayjs(article.date));
  return (
    articleSection.fiscalYear == section.fiscalYear &&
    articleSection.season == section.season
  );
});
---

<Base
  title={`Vim 駅伝 - ランキング - ${displaySectionName(section)}`}
  slug="/ranking"
>
  <SeasonList
    selected={section}
    linkDest="ranking"
    showUnpublishedSeason={false}
  />
  <section class="py-4">
    <h2>記事投稿数ランキング（{displaySectionName(section)}）</h2>
    <RankChart articles={articles} client:visible />
  </section>
</Base>
