---
import { ViewTransitions } from "astro:transitions";

import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import { joinURLWithTrailingSlash } from "@/lib/url.js";
import "@fontsource/kaushan-script";
import "@fontsource/yuji-syuku";

type Props = { title: string; slug: string };
const { title, slug } = Astro.props;

const baseURL = joinURLWithTrailingSlash(
  import.meta.env.SITE,
  import.meta.env.BASE_URL,
);
const description =
  "Vim 駅伝は、駅伝でタスキを繋ぐように Vim に関する記事を参加者で順番に書いていくイベントです。";
const url = joinURLWithTrailingSlash(baseURL, slug);
const ogImage = joinURLWithTrailingSlash(baseURL, "og-image.png");
---

<html lang="ja" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <!-- HTML Meta Tags -->
    <meta name="description" content={description} />

    <meta property="og:url" content={url} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={ogImage} />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="vim-jp.org" />
    <meta property="twitter:url" content={url} />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={ogImage} />

    <slot name="head" />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="bg-neutral-50 font-ekiden-base">
    <main
      class="m-0 flex min-h-screen flex-col items-center justify-center p-0 text-ekiden-black-500"
    >
      <Header slug={slug} />
      <div class="w-full max-w-4xl flex-1 px-4">
        <slot />
      </div>
      <Footer />
    </main>
  </body>
</html>
